*.project
*.classpath
dev/.settings/
/dev/AvisameDelCocheServices/target/
*/.settings/
dev/AvisameDelCocheBusiness/.settings/
dev/AvisameDelCocheBusiness/target/
dev/AvisameDelCocheEJB/.settings/
dev/AvisameDelCocheServices/.settings/
dev/AvisameDelCocheSpring/.settings/
dev/AvisameDelCocheWar/.settings/
/dev/AvisameDelCocheWAR/target/
dev/AvisameDelCocheSpringService/.settings/
