*.project
*.classpath
dev/.settings/
/dev/AvisameDelCocheServices/target/
*/.settings/
dev/AvisameDelCocheBusiness/.settings/
dev/AvisameDelCocheBusiness/target/
dev/AvisameDelCocheEJB/.settings/
dev/AvisameDelCocheServices/.settings/
dev/AvisameDelCocheSpring/.settings/
dev/AvisameDelCocheWar/.settings/
/dev/AvisameDelCocheWAR/target/
dev/AvisameDelCocheSpringService/.settings/
dev/AvisameDelCocheWAR/src/main/webapp/WEB-INF/lib/
*.netbeans_automatic_build
dev/AvisameDelCocheDao/target/
dev/AvisameDelCocheDaoEJB/target/
/dev/AvisameDelCocheHTML/nbproject/private/
/dev/AvisameDelCocheWS/nbproject/private/
/dev/AvisameDelCocheWS/target/
/dev/AvisameDelCocheClienteWS/target/
dev/AvisameDelCocheDao/src/test/
/dev/AvisameDelCocheHTML5/target/
/dev/AvisameDelCocheRS/target/
dev/AvisameDelCocheDao/.settings/
dev/AvisameDelCocheDaoEJB/.settings/org.eclipse.jdt.core.prefs
dev/AvisameDelCocheDaoEJB/.settings/org.eclipse.wst.common.component
dev/AvisameDelCocheDaoEJB/.settings/
dev/AvisameDelCocheWeb/.settings/
dev/AvisameDelCocheRS/.settings/
dev/AvisameDelCocheHTML/.settings/
dev/AvisameDelCocheWS/.settings/
dev/AvisameDelCocheEJB/target/
dev/AvisameDelCocheClienteWS/.settings/
dev/AvisameDelCocheWeb/target/
dev/AvisameDelCocheHTML/target/
dev/log/avisameDelCoche.log
