
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<div class="jumbotron">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-body">
            <form class="form-inline">
                <div class="form-group">
                    <label>Componente</label>    
                    <input type="text" ng-model="componenteBusqueda" class="form-control" placeholder="Componente" ng-keypress="$event.keyCode == 13 && buscar(componenteBusqueda)"/>
                    <button type="button" ng-click="buscar(componenteBusqueda)" class="btn btn-default">Buscar</button>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-default" ng-show="componentes.length > 0" >
        <!-- Default panel contents -->
        <div class="panel-heading">Resultados</div>
        <!-- Table -->
        <table class="table table-hover table-bordered" >
            <thead>
                <tr>
                    <th>Componente</th>
                    <th>Limite kilometraje</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="componente in componentes" ng-click="nav('detalleComponente/'+componente.idcomponente+'?search='+componenteBusqueda)" role="button">
                    <td class="col-md-4">{{componente.nombre}}</td>
                    <td class="col-md-8">{{componente.limiteKilometros}}</td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>

