
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<div class="jumbotron">
    <div class="panel panel-default">
        <!-- Default panel contents -->

        <div class="panel-body">
            <form class="form-inline">
                <div class="form-group">
                    <label>Matricula</label>
                    <input type="text" ng-model="matricula" class="form-control" placeholder="Matricula"/>
                </div>
                <div class="form-group">
                    <button type="button" ng-click="buscar(matricula)" class="btn btn-default">Buscar</button>
                </div>
            </form>

        </div>
    </div>
    <div class="panel panel-default" ng-show="coches.length > 0">
        <!-- Default panel contents -->
        <div class="panel-heading">Resultados</div>

        <!-- Table -->
        <table class="table table-hover" >
            <thead>
                <tr>
                    <th>Matricula</th>
                    <th>Kilometraje</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="coche in coches" ng-click="nav('detalle/'+coche.matricula)" role="button">
                    <td>{{coche.matricula}}</td>
                    <td>{{coche.kilometraje}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

